.frame-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 25%;
    height: 200px;

    border: 1px solid black;
}

.frame-image {
    width: 100%;
    height: 50%;
}

.frame-card {
    justify-content: center;
    align-content: center;

    width: 100%;
    height: 50%;

    background-color: rgb(0, 0, 0, 0.8);

    color: white;
}

.frame-description {
    text-align: center;

    margin: 0;
}
