.icon-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 2em;
    height: 2em;

    margin: 0.25em 0.5em 0.25em 0.5em;
}

.icon {
    height: inherit;
}
