.header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px black;
}

.navbar {
    justify-content: space-between;

    display: flex;
    flex-direction: row;

    padding: 0px;

    margin-right: 10px;
    margin-left: 10px;
}
