.header {
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.navbar {
    justify-content: space-between;

    display: flex;
    flex-direction: row;

    padding: 0px;

    margin-right: 10px;
    margin-left: 10px;
}

.navbar-link {
    color: var(--color-primary);

    margin-right: 10px;
    margin-left: 10px;

    padding: 5px;
    border-radius: 5px;
}

.navbar-link:hover {
    background-color: rgb(255, 255, 255, 0.2);
    transition: var(--background-transition-time);
}
