.contact-container {
    display: flex;

    justify-content: center;
    align-items: center;

    margin-left: 1em;
    margin-right: 1em;
}

.contact-list {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.contact-list__li {
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.contact-list__a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}
